// Layout styles

// Главная панель навигации
md-toolbar.lynx-toolbar.md-primary {
  background: $main-color;
}

.lynx-container {
  padding: $main-padding;
  background-color: $background-color;
}

.lynx-content-block {
  background-color: $lynx-block;
  padding: $main-padding;

  @include block;

  & + & {
    margin-top: $main-padding;
  }
}
