// Layout styles

// Общие стили
.material-icons {
  vertical-align: middle;
}

// Главная панель навигации
md-toolbar.lynx-toolbar.md-primary {
  background: $main-color;
}

// Боковое меню
.lynx-layout md-sidenav {
  width: 250px;
  background-color: $dark-color;
  color: $white-dark-color;
}

.sidenav-header {
  height: $header-height;
  background-color: $sub-color;
  color: $white-color;
  font-size: $header-size;

  a {
    height: $header-height;

    @include default-link;
    @include white-dark-link;
    @include flex-center;
  }
}

.sidenav-list {
  margin: $main-padding 0 0 0;
  padding: 0;
  list-style-type: none;

  li a {
    @include white-dark-link;
    padding: 10px $main-padding + 10px;

    i {
      margin-right: 4px;
    }
  }
}

// Заголовок
.lynx-title {
  color: $main-color;
  margin-bottom: 15px;
}

// Контентная часть
.md-sidenav-content {
  background-color: $background-color;
}

.lynx-container {
  padding: $main-padding;
}

.lynx-content-block {
  background-color: $lynx-block;
  padding: $main-padding;

  @include block;

  & + & {
    margin-top: $main-padding;
  }
}
