<h4 class="lynx-title">
  Список товаров
</h4>

<!--Таблица с товарами-->
<div class="lynx-content-block">

  <div class="items-controls">
    <div class="row">

      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Найти...">
      </div>

      <div class="col-md-6">
        <a href="#" class="btn btn-primary" title="Добавить">
          <i class="material-icons">note_add</i>
        </a>
      </div>

    </div>
  </div>

  <table class="table table-striped items-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th>Категория</th>
      <th>Цена</th>
      <th>Изображение</th>
      <th>Описание</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let item of items">
      <td>{{ item.id }}</td>
      <td><a routerLink="/item-edit">{{ item.title }}</a></td>
      <td>{{ item.categoryId }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.imageUrl }}</td>
      <td>{{ item.description }}</td>
    </tr>
    </tbody>
  </table>

</div>
