<h4 class="lynx-title">
  <i class="material-icons">assignment</i>
  Редактирование товара - Лампа столовая с уксусом
</h4>

<div class="lynx-content-block">

  <form action="" id="item-edit">

    <div class="form-group row">
      <label for="id-input" class="col-xs-2 col-form-label">ID</label>
      <div class="col-xs-10">
        <input class="form-control" type="text" id="id-input" [(ngModel)]="item.id" disabled name="id">
      </div>
    </div>

    <div class="form-group row">
      <label for="title-input" class="col-xs-2 col-form-label">Название</label>
      <div class="col-xs-10">
        <input class="form-control" type="text" id="title-input" [(ngModel)]="item.title" name="title">
      </div>
    </div>

    <div class="form-group row">
      <label for="price-input" class="col-xs-2 col-form-label">Цена</label>
      <div class="col-xs-10">
        <input class="form-control" type="text" id="price-input" [(ngModel)]="item.price" name="price">
      </div>
    </div>

    <div class="form-group row">
      <label for="category-input" class="col-xs-2 col-form-label">Категория</label>
      <div class="col-xs-10">
        <input class="form-control" type="text" id="category-input" [(ngModel)]="item.categoryId" name="category">
      </div>
    </div>

    <div class="form-group row">
      <label for="imageUrl-input" class="col-xs-2 col-form-label">Изображение</label>
      <div class="col-xs-10">
        <input class="form-control" type="text" id="imageUrl-input" [(ngModel)]="item.imageUrl" name="imageurl">
      </div>
    </div>

    <div class="form-group row">
      <label for="description-input" class="col-xs-2 col-form-label">Описание</label>
      <div class="col-xs-10">
        <textarea name="description" class="form-control"
                  id="description-input" [(ngModel)]="item.description" cols="30" rows="10"></textarea>
      </div>
    </div>

    <button class="btn btn-primary">Сохранить</button>

  </form>

</div>
