<h4 class="lynx-title">
  <i class="material-icons">assignment</i>
  Редактирование товара - Лампа столовая с уксусом
</h4>

<div class="lynx-content-block">

  <form action="" id="item-edit" *ngIf="item">

    <div class="form-group row">
      <label for="id-input" class="col-xs-2 col-form-label">ID</label>
      <div class="col-xs-10">
        <input class="form-control" type="text" id="id-input" [(ngModel)]="item.id" disabled name="id">
      </div>
    </div>

    <button class="btn btn-primary">Сохранить</button>

  </form>

</div>
