<!--Главная страница-->

<div class="row">

  <div *ngFor="let module of modules" class="col s12 m3">

    <div class="card">
      <div class="card-image">
        <img [src]="module.img">
        <span class="card-title">
          <a [routerLink]="module.url">{{ module.title }}</a>
        </span>
      </div>

      <div class="card-content">
        <p>
          {{ module.description }}
        </p>
      </div>

      <div class="card-action">
        <a href="#">This is a link</a>
      </div>

    </div>
  </div>

</div>
