<div class="lynx-container">

  <div class="row">

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="/assets/images/developing.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <md-card>
        <md-card-header>
          <md-card-title>Header title</md-card-title>
          <md-card-subtitle>Header subtitle</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="/assets/images/developing.jpg">
        <md-card-content>
          <p>Here is some more content</p>
        </md-card-content>
      </md-card>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>

</div>
