<div class="row">

  <div class="col-md-4">
    <md-card>
      <md-card-header>
        <md-card-title>
          <a routerLink="/items">Товары</a>
        </md-card-title>
        <md-card-subtitle>
          Модуль с товарами
        </md-card-subtitle>
      </md-card-header>
      <img md-card-image src="/assets/images/developing.jpg">
      <md-card-content>
        <p>
          В данном модуле Вы можете отредактировать товары
        </p>
      </md-card-content>
    </md-card>
  </div>

</div>
