<div class="items-controls">
  <div class="row valign-wrapper">

    <div class="input-field col m6">
      <i class="material-icons prefix">search</i>
      <input id="lynx-table-search" type="text">
      <label for="lynx-table-search">Найти</label>
    </div>

    <div class="col m6 right-align">
      <a [routerLink]="'/' + addLink" class="waves-effect waves-light btn" title="Добавить">
        <i class="material-icons">add</i>
        Добавить
      </a>
    </div>

  </div>
</div>

<table class="responsive-table striped highlight items-table lynx-table">
  <thead>
  <tr>

    <th *ngFor="let column of columns">
      {{ column.header }}
    </th>

  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let item of items">

    <td *ngFor="let column of columns" [ngStyle]="column.styles">

      <lynx-item
        [item]="item"
        [column]="column"></lynx-item>
    </td>

  </tr>
  </tbody>
</table>
