<!--Страница входа-->

<div class="lynx-auth-bg-wrapper">

  <form (ngSubmit)="login(email.value, password.value)" #loginForm="ngForm" class="lynx-auth-form">

    <div class="lynx-auth-form__title text-center">
      Lynx CMS Admin
    </div>

    <div class="lynx-auth-form__content">
      <md-input-container>
        <input #email md-input placeholder="Email" name="email">
      </md-input-container>
      <md-input-container>
        <input #password md-input placeholder="Пароль" name="password" type="password">
      </md-input-container>
    </div>

    <div class="lynx-auth-form__footer text-center">
      <button md-button type="submit">Войти</button>
    </div>

  </form>

</div>
