<!--Страница входа-->

<div class="lynx-auth-bg-wrapper">

  <form (ngSubmit)="Login(email.value, password.value)" #loginForm="ngForm" class="lynx-auth-form">

    <div class="lynx-auth-form__title text-xs-center">
      Войти
    </div>

    <div class="lynx-auth-form__content">
      <input type="text" #email name="email" placeholder="Email" class="form-control">
      <input type="password" #password name="password" placeholder="Пароль" class="form-control">
    </div>

    <div class="lynx-auth-form__footer text-xs-right">
      <button type="submit" class="btn btn-primary">Войти</button>
    </div>

  </form>

</div>
