<!--Основной layout-->
<section [ngClass]="sideNav()" class="lynx-layout">

  <aside class="lynx-side-nav">

    <div class="lynx-brand">
      <a routerLink="/">
        Lynx CMS Admin
      </a>
    </div>

    <ul class="sidenav-list">
      <li>
        <a routerLink="/items" routerLinkActive="active">
          <i class="material-icons">assignment</i> Товары
        </a>
      </li>

      <li>
        <a routerLink="/pages" routerLinkActive="active">
          <i class="material-icons">receipt</i> Страницы
        </a>
      </li>

      <li>
        <a routerLink="/news" routerLinkActive="active">
          <i class="material-icons">fiber_new</i> Новости
        </a>
      </li>
    </ul>

    <hr>

    <ul class="sidenav-list">
      <li>
        <a routerLink="/settings" routerLinkActive="active">
          <i class="material-icons">settings</i> Настройки
        </a>
      </li>
    </ul>

    <hr>

    <ul class="sidenav-list">
      <li>
        <a href="#" (click)="logOut(); false">
          <i class="material-icons">exit_to_app</i> Выйти
        </a>
      </li>
    </ul>

  </aside>

  <div class="lynx-container">

    <nav class="lynx-toolbar">
      <div class="nav-wrapper row">

          <div class="col-sm-4 text-left">
            <button md-icon-button (click)="toggleSideNav()" class="toggle-sidenav">
              <i class="material-icons">menu</i>
            </button>
          </div>

          <div class="col-sm-8 text-right">
            <button *ngIf="authService.LoginInfo && sitesList"
                    class="toolbar-sites" [mdMenuTriggerFor]="sites" md-button>
              Текущий сайт: {{ currentSiteName }}
            </button>
            <md-menu #sites="mdMenu">
              <button *ngFor="let site of sitesList"
                      (click)="changeSite(site.id, site.siteName)" md-menu-item>
                <span>{{ site.siteName }}</span>
              </button>
            </md-menu>
          </div>

      </div>
    </nav>

    <router-outlet></router-outlet>
  </div>

</section>
