<!--Основной layout-->
<section [ngClass]="SideNav()" class="lynx-layout">

  <aside class="lynx-side-nav">

    <div class="lynx-brand">
      <a routerLink="/">
        Lynx CMS Admin
      </a>
    </div>

    <div>
      <select #siteSelect *ngIf="authService.LoginInfo && sitesList"
              (change)="ChangeSite(siteSelect.value)"
              [(ngModel)]="authService.LoginInfo.CurrentSiteId" class="input-field col s12">
        <option *ngFor="let site of sitesList" [value]="site.id"> {{site.siteName}}</option>
        <label>Сайты</label>
      </select>
    </div>

    <ul class="sidenav-list">
      <li>
        <a routerLink="/items" routerLinkActive="active">
          <i class="material-icons">assignment</i> Товары
        </a>
      </li>

      <li>
        <a routerLink="/pages" routerLinkActive="active">
          <i class="material-icons">receipt</i> Страницы
        </a>
      </li>

      <li>
        <a routerLink="/news" routerLinkActive="active">
          <i class="material-icons">fiber_new</i> Новости
        </a>
      </li>

      <li>
        <a href="#" (click)="LogOut(); false">
          <i class="material-icons">exit_to_app</i> Выйти
        </a>
      </li>
    </ul>

  </aside>

  <!-- Routed views go here -->
  <div class="lynx-container">

    <nav class="lynx-toolbar">
      <div class="nav-wrapper">

        <a (click)="ToggleSideNav()" class="btn-floating blue">
          <i class="material-icons">menu</i>
        </a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">JavaScript</a></li>
        </ul>

      </div>
    </nav>

    <router-outlet></router-outlet>
  </div>

</section>
