<!--Основной layout-->
<md-sidenav-layout fullscreen class="lynx-layout">

  <md-toolbar color="primary" class="lynx-toolbar">

    <button md-icon-button (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>

    <select #siteSelect *ngIf="authService.LoginInfo && sitesList"
            (change)="ChangeSite(siteSelect.value)"
            [(ngModel)]="authService.LoginInfo.CurrentSiteId" class="form-control">
      <option *ngFor="let site of sitesList" [value]="site.id"> {{site.siteName}}</option>
    </select>


    <span class="example-fill-remaining-space"></span>

  </md-toolbar>

  <md-sidenav #sidenav mode="side" [opened]="true">
    <div class="sidenav-header">
      <a routerLink="/">
        Lynx CMS Admin
      </a>
    </div>

    <ul class="sidenav-list">
      <li>
        <a routerLink="/items" routerLinkActive="active">
          <i class="material-icons">assignment</i> Товары
        </a>
      </li>

      <li>
        <a routerLink="/pages">
          <i class="material-icons">receipt</i> Страницы
        </a>
      </li>

      <li>
        <a routerLink="/news">
          <i class="material-icons">fiber_new</i> Новости
        </a>
      </li>

<!--      <li>
        <a href="#">
          <i class="material-icons">account_circle</i> Пользователи
        </a>
      </li>-->

      <li>
        <a href="#" (click)="LogOut(); false">
          <i class="material-icons">exit_to_app</i> Выйти
        </a>
      </li>

    </ul>

  </md-sidenav>

  <!-- Routed views go here -->
  <div class="lynx-container">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-layout>
