<md-sidenav-layout fullscreen>

  <md-toolbar color="primary" class="lynx-toolbar">

    <button md-icon-button (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>

    <span>Lynx CMS Admin</span>

    <span class="example-fill-remaining-space"></span>

  </md-toolbar>

  <md-sidenav #sidenav>
    Start Sidenav.
    <br>
    <button md-button>Close</button>
  </md-sidenav>

  <md-sidenav #end align="end">
    End Sidenav.
    <button md-button>Close</button>
  </md-sidenav>

  <!-- Routed views go here -->
  <div class="lynx-container">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-layout>
