<md-sidenav-layout fullscreen class="lynx-layout">

  <md-toolbar color="primary" class="lynx-toolbar">

    <button md-icon-button (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>

    <span class="example-fill-remaining-space"></span>

  </md-toolbar>

  <md-sidenav #sidenav mode="side" [opened]="true">
    <div class="sidenav-header">
      Lynx CMS Admin
    </div>

    <ul class="sidenav-list">
      <li>
        <a href="#">
          Товары
        </a>
      </li>
      <li>
        <a href="#">Страницы</a>
      </li>
      <li>
        <a href="#">Новости</a>
      </li>
      <li>
        <a href="#">Пользователи</a>
      </li>
    </ul>
  </md-sidenav>

  <md-sidenav #end align="end">
    End Sidenav.
    <button md-button>Close</button>
  </md-sidenav>

  <!-- Routed views go here -->
  <div class="lynx-container">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-layout>
