<div class="form-group row">

  <span class="col-xs-12 col-form-label">Изображения</span>

  <div class="col-xs-12">
    <button class="btn btn-primary">+ Добавить</button>
  </div>

  <div class="col-xs-12">

    <table class="table table-bordered table-stripped item-images-table">
      <thead>
        <tr>
          <th>Изображение</th>
          <th>Название</th>
          <th>Путь</th>
          <th>Главное изображение</th>
          <th>Действие</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let image of images">

          <td>
            <img [src]="image.pathPrefix + image.path" onError="this.src='/assets/images/no-image.jpg'">
          </td>

          <td>
            {{ image.name ? image.name : 'Без названия' }}
          </td>

          <td>
            <input [(ngModel)]="image.path" class="item-input" type="text" placeholder="Введите путь к изображению">
          </td>

          <td>
            <md-checkbox [(ngModel)]="image.isMain"></md-checkbox>
          </td>

          <td>
            <button title="Удалить" class="btn btn-sm btn-danger">
              <i class="material-icons">close</i>
            </button>
          </td>

        </tr>

      </tbody>
    </table>

  </div>

</div>