<div class="form-group row">

  <span class="col-xs-12 col-form-label">Изображения</span>

  <div class="col-xs-12">
    <button class="btn btn-primary">+ Добавить</button>
  </div>

  <div class="col-xs-12">

    <table class="table table-bordered table-stripped item-images-table">
      <tbody>

        <tr *ngFor="let image of images">

          <td>
            <img [src]="image.pathPrefix + image.path">
          </td>

          <td>
            {{ image.name ? image.name : 'Без названия' }}
          </td>

          <td>
            <span [title]="image.path">
            {{ image.path }}
          </span>
          </td>

          <td>
            <md-checkbox [(ngModel)]="image.isMain">
              Главное изображение
            </md-checkbox>
          </td>

        </tr>

      </tbody>
    </table>

  </div>

</div>