<div class="form-group row">

  <span class="col-xs-12 col-form-label">Изображения</span>

  <div class="col-xs-12">
    <button class="btn btn-primary">+ Добавить</button>
  </div>

  <div class="col-md-3 lynx-item-image" *ngFor="let image of images">

    <md-card>
      <md-card-header>
        <md-card-title>
          {{ image.name }}
        </md-card-title>
        <md-card-subtitle>
          {{ image.path }}
        </md-card-subtitle>
      </md-card-header>
      <img md-card-image [src]="image.pathPrefix + image.path">
      <md-card-content>
        <md-checkbox [(ngModel)]="image.isMain">
          Главное изображение
        </md-checkbox>
      </md-card-content>
    </md-card>

  </div>

</div>
