// Main mixins

// Обычный контентный блок
@mixin block {
  box-shadow: 0 2px 8px #E0E0E0;
  border-radius: 2px;
}

// Общий transition
@mixin transition {
  transition: all .2s ease;
}

// Flex блок с выравниванием по центру
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Дефолтная ссылка
@mixin default-link {
  text-decoration: none;
}

// Ссылка на темном фоне
@mixin white-dark-link {
  display: block;
  color: $white-dark-color;
  border-left: 2px solid transparent;

  @include default-link;
  @include transition;

  &:hover {
    color: $white-dark-color-h;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &.active {
    border-left-color: $main-color;
    color: $white-dark-color-h;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
