// Main variables

// Z-indexes
$main-z: 100;
$toolbar-z: 900;
$side-nav-z: 999;

// Colors
$main-color: #2196F3;
$sub-color: #1976D2;
$dark-color: #212121;

// Font colors
$white-color: #FAFAFA;
$white-dark-color: #EEEEEE;
$white-dark-color-h: #E0E0E0;

// Background colors
$background-color: #F5F5F5;

// Block colors
$lynx-block: #FAFAFA;

// Font sizes
$header-size: 24px;

// Paddings & margins
$main-padding: 15px;

// Heights
$header-height: 64px;

// Layout vars
$side-nav-w: 250px;
